version: 2
updates:
#- package-ecosystem: nuget
#  directory: "/"
#  schedule:
#    interval: daily
#    time: "05:30"
#    timezone: Europe/London
#  reviewers:
#    - "martincostello"
#  open-pull-requests-limit: 99
- package-ecosystem: npm
  directory: "/src/TodoApp"
  schedule:
    interval: daily
    time: "05:30"
    timezone: Europe/London
  reviewers:
    - "martincostello"
  open-pull-requests-limit: 99
