.DS_Store
.dotnet
.idea
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
coverage
coverage.*
node_modules
obj
packages
project.lock.json
src/TodoApp/wwwroot/static/
TestResults
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.db
*.db-shm
*.db-wal
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
