<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="TodoApp Rules" Description="This rule set contains rules for the TodoApp solution." ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
</RuleSet>
