name: dependency-review

on:
  pull_request:
    branches:
      - main
      - dotnet-vnext
      - dotnet-nightly

permissions: {}

jobs:
  dependency-review:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Review dependencies
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          allow-licenses: 'Apache-2.0,BSD-2-Clause,BSD-3-Clause,MIT'
